#contact_modal {
    display: none;
}



.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph-header img {
    height: 150px;
    width: 150px;
    border-radius: 15rem;
    object-fit: cover;
    margin-left: 70rem;
    margin-top: -8rem;
}

.photograph-header h2 {

    margin-left: 2rem;
    margin-top: -9rem;
    color: #D3573C;
    font-size: 36px;
}

.photograph-header h3 {

    margin-left: 2rem;
    color: #901C1C;
    font-size: 17px;
    margin-top: -1.5rem;
}

.photograph-header h4 {

    margin-left: 2rem;
    font-size: 15px;
    margin-top: 2rem;
}


.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 35rem;
    margin-top: 7rem;
}

#pourhoverbouton:hover {
    background-color: #DB8876;
}


#nomcontact {
    margin-top: -0rem;
    margin-left: -5rem;
}

.modal {
    position: fixed;
    top: 0rem;
    left: 20rem;
    display: flex;
    border-radius: 5px;
    background-color: #DB8876;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    padding-top: 5rem;
    height: 550px;
    width: 500px;
    margin-left: 8rem;
    margin-top: 2rem;


}


.modal header {
    margin-top: -4rem;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: -6rem;

}

.modal header img {
    cursor: pointer;
    width: 2rem;
}

.modal header h1 {
    margin-top: 2rem;
    font-size: 35px;
    font-weight: normal;
    margin-top: 5rem;
    color: black;
}



form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 25px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

#envoyerbutton {
    margin-left: 0rem;
    margin-top: -1rem;
    height: 3rem;
    width: 8rem;
}

#inputmessage {
    height: 150px;
}





.photograph-media {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
}




.photograph-media figure {
    width: 100%;
    height: 350px;
    margin-left: 6rem;
    margin-top: 3rem;
}

.photograph-media img {
    height: 300px;
    object-fit: cover;
    width: 350px;
}

.photograph-media footer {
    display: flex;
    justify-content: space-between;
}

.photograph-media video {
    height: 300px;
    object-fit: cover;
    width: 350px;
}

.photograph-media footer figcaption {
    margin-top: 1rem;
    color: #901C1C;
    font-size: 18px;
}

.photograph-media footer aside {
    font-size: 15px;
    margin-top: -2.5rem;
    display: flex;
    flex-direction: row;
}

.photograph-media footer aside p {
    font-size: 15px;
    margin-top: 3.7rem;
    margin-left: -11.5rem;
    color: black;
}

.photograph-media footer aside i {
    font-size: 20px;
    color: #901C1C;
    margin-left: 0.5rem;
    margin-top: 3.6rem;
}

.photograph-media footer aside :hover {
    cursor: pointer;

    color: #b11212;

}

.priceandlike {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 59px;
    width: 300px;
    border-radius: 5px 5px 0 0;
    background-color: #DB8876;
    font-size: 24px;
    padding: 0 2rem;
    right: 2rem;
    bottom: 0;
}

.priceandlike aside {
    display: flex;
    align-items: center;
}

.priceandlike aside h1 {
    font-size: 1.8rem;
    color: black;
    font-weight: normal;
}

.priceandlike aside i {
    margin-left: -5.8rem;
}

.priceandlike h2 {
    font-size: 1.8rem;
    font-weight: normal;
}


.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
    z-index: 10;

}

.closer {
    opacity: 0;
}

.lightbox_next,
.lightbox_prev {
    right: 0;
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    position: fixed;
    top: 50%;
    margin-top: -14px;
    z-index: 11;
    opacity: 0.5;
    cursor: pointer;
    color: #901C1C;
    transition-duration: .3s;
    font-size: 30px;
}



.lightbox button:hover {
    opacity: 1;
}

.lightbox_prev {
    right: auto;
    margin-left: 10rem;
}

.lightbox_next {
    margin-right: 10rem;
}

.lightbox_close {
    border: none;
    background: none;
    width: 32px;
    height: 56px;
    position: fixed;
    z-index: 11;
    opacity: 0.5;
    cursor: pointer;
    color: #901C1C;
    transition-duration: .3s;
    top: 20px;
    right: 20px;
    font-size: 30px;
    margin-right: 10rem;
}

.lightbox_container {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    color: #911c1c;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 57px;
    padding: 0rem;
    text-align: center;
    justify-content: space-between;
}

.lightbox_container img {
    margin-top: 20px;
    width: 950px;
    height: 600px;
    object-fit: cover;
}

.lightbox_container video {
    margin-top: 20px;
    width: 950px;
    height: 600px;
    object-fit: cover;
}

.lightbox_container p {
    display: flex;
    font-size: 1.5rem;
    margin-right: 40rem;
    width: 20rem;

}

.besoindevide {
    height: 5rem;
}

.photograph-select {
    margin-left: 6rem;
    margin-top: 2rem;
    margin-bottom: -4rem;
}

.photograph-select label {
    font-size: 18px;
}

.photograph-select select {
    margin-left: 0.5rem;
    background-color: #911c1c;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    height: 45px;
    padding: 0.3rem
}